.login{
    
    box-sizing: border-box;
    position: relative;
    top: 100px;
    width: 290px;
    height: 400px;
    margin : auto;
    background-color: rgb(194,199,203);

    .login-header{
        font-weight: 200;
        background-color: rgb(6,7,129);
        font-size: 14px;
        position: relative;
        top: 4px;
        margin: 4px;
        padding: 2px;
        color: white;
        border: solid black 1px;
        text-align: center;
    }
    .login-guide{
        font-weight: 400;
        position: relative;
        margin: 20px;

        .user-info{
            font-size: 20px;
            margin-bottom: 20px;
        }
        .user-info-detail{
            font-weight: 200;
        }
    }

    .form-container{
        position: relative;
        top: 50px;
    
        .login-form{
            // top: 50px;
            width: 150px;
            height: 30px;
            position: relative;
            margin: auto;

            input{
                padding: 4px;
                -webkit-appearance: none; 
                -moz-appearance: none; 
                cursor: pointer;
            }
            input:focus {
                padding: 4px;
                -webkit-appearance: none; 
                -moz-appearance: none; 
                outline: 0;
             }

            .submit-Btn{
                cursor: pointer;
             }
        }
    }

    
}

