.login{
    box-sizing: border-box;
    position: relative;
    margin: auto;
    top: 40px;
    width: 80%;
    height: 435px;
    background: #BDBEBD;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    border-top: 1px solid white;
    border-right: 1px solid black;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);

    .login-inner{
        // border: 1px solid #BDBEBD;
        height: 100%;
    }  
}

.login-header{
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    height: 27px;
    background: linear-gradient(to right, #000080, #1084d0);
    font-size: 15px;
    color: white;
    font-family: Helvetica;
    
    .login-header-column{
        display: flex;
        align-items: center;
        .window-icon{
            background-color: #BDBEBD;
            width: 18px;
            height: 18px;
            border-top: 1px solid white;
            border-left: 1px solid white;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            text-align: center;
            margin-right: 2px; 
        }
        .window-icon:last-child{
            margin-right: 3px;
        }
    }
    
}
.min{
    background-image: url(../image/min.png);
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.max{
    background-image: url(../image/max.png);
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.close{
    background-image: url(../image/close.png);
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.login-content{
    box-sizing: border-box;
    padding-top: 26px;
    height: calc( 100% - 32px);
    margin-top: 2px;
    border: 2px solid #808080;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    .content-info{
        position: relative;
        width: 240px;
        margin: auto;
        margin-bottom: 20px;
        .content-green{
            height: 125px;
            background-color: #55ABAA;
            border: 1px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: 28px;
        }
        .content-user-info{
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 13px;
        }
        .content-nickname-guide{
            font-weight: 300;
            font-size: 13px;
            margin-bottom: 13px;
        }
    }
    .content-form{
        position: relative;
        width: 240px;
        margin: auto;
        .content-form-main{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 39px;
            .form-label{
                font-size: 14px;
                font-family: Roboto;
                margin-right: 10px;
            }
            .form-input{
                font-size: 16px;
                width: 150px;
                padding: 5px;
                background: #FFFFFF;
                box-shadow: 1px 1px 1px #FEFAFA, inset 1px 1px 1px rgba(7, 7, 7, 0.54);
            }
        }
        .content-form-extra{
            .content-form-line{
                border: 1px solid #B3B1B1;
                box-shadow: 0px 1px 1px #F2F2F2;
            }
            .form-submit{
                margin-top: 24px;
                float: right;
                padding: 3px;
                width: 90px;
                background: #C4C4C4;
                border: 1.2px solid #3F3F3F;
                box-sizing: border-box;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.76), inset 2px 2px 2px #FFFFFF;
            }
        }
        
    }
}